{% extends 'base.html' %}

{% block titulo_pagina %}
    Detalle Pokemon
{% endblock titulo_pagina %}

{% block contenido_principal %}

    <!-- Tabla de detalles pokemon -->
    <div class="row d-flex justify-content-center mt-5">

        <div class="col-9">

            <h3 class="text-center mb-5">Detalle de Pokemon - {{ pokemon.nombre }}</h3>

            <div class="row">

                <!-- Imagen pokemon -->
                <div class="col-3">
                    <img src="{{ pokemon.imagen.url }}" class="img-thumbnail" style="width: 80%;">
                </div>

                <!-- Informacion pokemon -->
                <div class="col-9">
                    
                    <table class="table">

                        <tbody>
        
                            <tr>
                                <th scope="row"><strong>Nombre:</strong> </th>
                                <td>{{ pokemon.nombre }}</td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Categoria:</strong> </th>
                                <td>{{ pokemon.categoria }}</td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Tipo:</strong> </th>
                                <td>{{ pokemon.tipo }}</td>
                            </tr>
                            <tr>
                                <th scope="row"><strong>Valor:</strong> </th>
                                <td>${{ pokemon.valor }}</td>
                            </tr>
                            
                        </tbody>
        
                    </table>

                </div>

            </div>

            

            

        </div>

    </div>

{% endblock contenido_principal %}